
.container-fluid{
	background-color: red;
	height: 150px;
	width: 100%;
}

nav{
	color: #ffffff;
	display: inline-block;
	font-family: arial;
	font-size: 16px;
	height: 50px;
    margin-top: 65px;
    margin-left: 80px;
    position: absolute;
}

img{
	position: absolute;
    height: 50px;
	margin-left: 200px;
    margin-top: 50px;
}

nav ul{
	padding-left: 800px;

}

nav ul li{
	
	display: inline-block;

	
}

nav ul li a{
	color: #ffffff;
	margin-right: 25px;
}